<div class="popup-dog">
  <div class="popup-dog-info">
    <h2><%= user.dog.name %></h2>
    <p><%= user.dog.breed %> </p>
    <p><%= user.dog.sex %> </p>
    <p><%= user.dog.age %> </p>
  </div>

  <div class="popup-dog-avatar">
    <%=image_tag("logo.png", alt: "")%>
  </div>
</div>
